<mat-toolbar style="background-color:#161625;color: aliceblue;">
  <a  mat-flat-button href=""style="background-color:#161625;color: aliceblue;" routerLink="/home">
     INTERNET &nbsp;  OF &nbsp; THINGS
  </a>
  <!-- <button color="primary" mat-flat-button routerLink="/news">DASHBOARD</button> -->

  <div class="home">
    <a mat-flat-button class="home" style="background-color:#161625;color: aliceblue;"
     routerLink="/home">
     HOME
    </a>
    <a mat-flat-button class="dashboard" style="background-color:#161625;color: aliceblue;"
     routerLink="/news">
      DASHBOARD
    </a>
  </div>

</mat-toolbar>
<div class="row justify-content-center p-4">
  <div class="col-md-6">

<div class="form-group p-2">
<input type="text" class="form-control" [(ngModel)]="eventName" placeholder="Enter Event Name">
</div>

<div class="form-group p-2">
  <input type="text" class="form-control" [(ngModel)]="eventDate" placeholder="Enter Date">
  </div>

<div class="form-group p-2">
  <input type="text" class="form-control" [(ngModel)]="eventLink" placeholder="Enter RegLink">
  </div>

<div class="form-group p-2">
  <input type="" class="form-control" [(ngModel)]="eventDescription" placeholder="Enter Description">
  </div>

<!-- <div class="form-group"> -->&nbsp;
<button mat-flat-button style="background-color: rgb(70, 106, 226); color: aliceblue;" (click)="Open()" [disabled]="!eventName || !eventDate || !eventLink || !eventDescription">
  Add Event
</button>
<div class="form-group">
  <h3><b>{{message}}</b></h3>
</div>

<table>
  <thead>
    <tr style="color: aliceblue;">
      <th>Name</th>&nbsp;
      <th>Date</th>&nbsp;
      &nbsp;<th>Link</th>&nbsp;
      <th>Description</th>
    </tr>
  </thead>

  <tbody style="color: aliceblue;">
    <tr *ngFor="let event of Event">
      <td>
        {{ event.payload.doc.data().name | json}}
      </td>&nbsp;
      <td>
        {{ event.payload.doc.data().date | json}}
      </td>&nbsp;
      <td>{{ event.payload.doc.data().link | json}}</td>
      <td>
        <td>{{ event.payload.doc.data().description | json}}</td>
      <td>&nbsp;
        <span *ngFor="let event of event.payload.doc.data().new ">
          {{ event | json }}
        </span>
      </td>
      <td style="cursor: pointer;"
        [attr.colspan]="event.payload.doc.data().completed"
        (click)="deleteEvent(event)"
      >
        <i class="material-icons">delete_forever</i>
      </td>
    </tr>
  </tbody>
</table>

<ul>
  <!-- <li></li> -->
</ul>


</div>
</div>
