<div class="row justify-content-center p-4">
  <div class="col-md-6">

<div class="form-group p-2">
<input type="text" class="form-control" [(ngModel)]="eventName" placeholder="Enter Event Name">
</div>

<div class="form-group p-2">
  <input type="text" class="form-control" [(ngModel)]="eventDate" placeholder="Enter Date">
  </div>

<div class="form-group p-2">
  <input type="text" class="form-control" [(ngModel)]="eventLink" placeholder="Enter RegLink">
  </div>

<div class="form-group p-2">
  <input type="" class="form-control" [(ngModel)]="eventDescription" placeholder="Enter Description">
  </div>

<!-- <div class="form-group"> -->
<button mat-flat-button color="primary" (click)="Open()" [disabled]="!eventName || !eventDate || !eventLink || !eventDescription">
  Add Event
</button>
<div class="form-group">
  <h3><b>{{message}}</b></h3>
</div>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Date</th>
      <th>Link</th>
      <th>Description</th>
    </tr>
  </thead>

  <tbody>
    <tr *ngFor="let event of Event">
      <td>
        {{ event.payload.doc.data().name | json}}
      </td>
      <td>
        {{ event.payload.doc.data().date | json}}
      </td>
      <td>{{ event.payload.doc.data().link | json}}</td>
      <td>
        <td>{{ event.payload.doc.data().description | json}}</td>
      <td>
        <span *ngFor="let event of event.payload.doc.data().new ">
          {{ event | json }}
        </span>
      </td>
      <td style="cursor: pointer;"
        [attr.colspan]="event.payload.doc.data().completed"
        (click)="deleteEvent(event)"
      >
        <i class="material-icons">delete_forever</i>
      </td>
    </tr>
  </tbody>
</table>

<ul>
  <!-- <li></li> -->
</ul>


</div>
</div>
